.custom-card {
    cursor: pointer;
    background-color: #f8f9fa; /* Light gray background */
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.custom-card:hover {
    border-color: #007bff; /* Border color on hover */
}

.custom-card .card-body {
    padding: 20px;
    color: #343a40; /* Dark text color */
}

.custom-card .card-title {
    color: #007bff; /* Blue title color */
    font-size: 1.2rem; /* Larger font size */
}

/* notification.css */
.custom-card.read-notification {
    border-left: 10px solid #28a745; /* Green border for read notifications */
    border-right: 10px solid #28a745; /* Green border for read notifications */
}

.custom-card.unread-notification {
    border-left: 10px solid #dc3545; /* Red border for unread notifications */
    border-right: 10px solid #dc3545; /* Red border for unread notifications */
}

