.table-container {
  margin: 20px 0;
    width: 100%;

}

.table {
  width: 100%;
  border-collapse:inherit;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
}

.table th {
  border: none; /* Remove borders from header */
  color: rgb(79 91 108) !important;
  font-size: 0.85rem;
}
.table-tr {
  border: none; /* Remove borders from header */
  border-radius: 12px;
}

.table td {
   font-size: 1rem;
    border: none; /* Remove borders from header */
}

.fas.fa-ellipsis-v {
  cursor: pointer;
}
